


__pycache__/
*.pyc

#django 

mysql
media/staticfiles
db.sqlite3
#vs code
.vscode/

#os 
.DS_Store


#Virtual Enviornmet.
apienv/
env/
venv/
ENV/

#django.

*.log
media/
staticfiles/


#MySQL

*.MySQL
mysql_data/
*.frm
*.MyD


#Enviornment Variable

.env





